<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="SaveLocation" value="E:/Download Manager/Resources"/>
		<add key="ContentURL" value="https://www.bing.com/images/search?q=matthew+mcconaughey&amp;FORM=HDRSC2"/>
	</appSettings>
</configuration>